h1{
	color: blue;
	background: yellow;
	font-family: arial;
	font-size: 16pt;
	text-align: center;
}

p{
	text-align: justify;
	font-size: 14pt;
	font-family: calibri;
}

.para1{
	color: green;
}

.para2{
	color: blue;
}